absl-py==1.4.0
aiohttp==3.7.4.post0
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
analytics-python==1.4.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
av==8.0.3
backcall==0.2.0
backoff==1.10.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blessed==1.19.1
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1664823096650/work
brotlipy==0.7.0
cachetools==5.3.1
certifi==2023.7.22
cffi @ file:///croot/cffi_1670423208954/work
chardet==4.0.0
charset-normalizer==3.2.0
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
cloudpickle==2.2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy==1.0.6
cryptography==3.4.7
cycler==0.10.0
cytoolz==0.11.0
dask==2022.12.0
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
docker-pycreds==0.4.0
docopt==0.6.2
dpcpp-cpp-rt==2022.2.1
einops==0.3.0
entrypoints==0.3
fastjsonschema==2.16.2
ffmpy==0.3.0
filelock==3.8.2
Flask==2.0.1
Flask-CacheBuster==1.0.0
Flask-Cors==3.0.10
Flask-Login==0.5.0
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.25.0
fqdn==1.5.1
frozenlist @ file:///croot/frozenlist_1670004507010/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1668082755814/work
ftfy==6.0.3
future==0.18.2
fvcore==0.1.5.post20210630
gdown==4.6.0
gitdb==4.0.10
GitPython==3.1.37
google-auth==2.22.0
google-auth-oauthlib==1.0.0
gpustat==1.0.0
gradio==2.2.11
grpcio==1.56.2
h5py==3.3.0
idna==3.2
imageio==2.22.4
imageio-ffmpeg==0.4.4
importlib-metadata==6.8.0
intel-cmplr-lib-rt==2022.2.1
intel-cmplr-lic-rt==2022.2.1
intel-opencl-rt==2022.2.1
intel-openmp==2022.2.1
iopath==0.1.9
ipykernel==6.2.0
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isoduration==20.11.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.0
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyter_server==2.0.1
jupyter_server_terminals==0.4.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.0.2
kiwisolver==1.4.4
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1669406312058/work
locket==0.2.1
Markdown==3.4.4
markdown2==2.4.0
MarkupSafe==2.1.3
mat73==0.60
matplotlib==3.6.2
matplotlib-inline==0.1.2
mistune==2.0.4
mkl==2022.2.1
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
monotonic==1.6
moviepy==1.0.3
mplcyberpunk==0.1.11
mpmath==1.2.1
multidict==5.1.0
munkres==1.1.4
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.8
nose==1.3.7
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py==11.495.46
nvitop @ file:///home/conda/feedstock_root/build_artifacts/nvitop_1670150829721/work
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
opencv-python==4.5.2.54
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1670530880680/work
pandas==2.0.3
pandocfilters==1.5.0
parameterized==0.8.1
paramiko==2.7.2
parso==0.8.2
partd==1.3.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.6.0
portalocker==2.3.0
proglog==0.1.9
prometheus-client==0.15.0
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess==0.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.10.1
pyDeprecate==0.3.1
Pygments==2.10.0
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1666240235902/work
PyNaCl==1.4.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pyrsistent==0.19.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.8.2
python-json-logger==2.0.4
pytorch-lightning==1.4.2
pytorchvideo==0.1.2
pytz==2023.3
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets==1.4.1
PyYAML==5.4.1
pyzmq==24.0.1
qtconsole==5.2.1
QtPy==1.11.2
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
scikit-image==0.18.1
scikit-learn==1.2.0
scikit-video==1.1.11
scipy==1.9.3
seaborn==0.12.1
Send2Trash==1.8.0
sentry-sdk==1.31.0
setproctitle==1.3.2
sh==1.14.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.3.2.post1
sympy==1.9
tabulate==0.8.9
tbb==2021.7.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
termcolor==1.1.0
terminado==0.9.4
testpath==0.6.0
threadpoolctl==3.1.0
tifffile==2020.10.1
timm==0.5.4
tinycss2==1.2.1
toolz==0.12.0
torch==1.13.1
torch-tb-profiler==0.4.1
torchaudio==0.13.1
torchmetrics @ file:///croot/torchmetrics_1677572957414/work
torchtext==0.10.0
torchvision==0.14.1
tornado==6.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
traitlets==5.7.0
typing_extensions @ file:///croot/typing_extensions_1669924550328/work
tzdata==2023.3
uri-template==1.2.0
urllib3==1.26.16
vit-pytorch==0.20.1
wandb==0.15.11
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.3.6
widgetsnbextension==3.5.2
yacs==0.1.8
yarl==1.6.3
zipp==3.16.2
